body {
  font-family: 'Roboto', sans-serif;  
  display: flex;
  flex-flow: column;
  margin: 0;
}

.home-banner {
  width: 100%;
  height: 1680px;
  background-image: url("../img/home_banner.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.header {
  height: 115px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 2px;
  margin: 64px 89px 0px 89px;
  box-shadow: 0px 10px 15px rgba(2, 2, 2, 0.1);
}

.header-logo {
  width: 155px;
  height: 75px;
  margin-left: 55px;
}

.header-buttons {
  margin-right: 50px;
}

.header-links ul {
  display: flex;
  flex-flow: row wrap;
}

.header-links li {
  list-style: none;
  margin-left: 25px;    
}

.header-links li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header-links li img{
  width: 14px;
  height: 7px;
  margin-left: 10px;
}

.header-social-links {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 35px;
}

.header-social-links img {
  margin-left: 18px;
  width: 30px;
  height: 30px;
}

.home-text {
  margin: 125px 140px 0 140px; 
}

.home-text h1 {
  width: 300px;
  font-size: 40px;
  color: #2871B7; 
  font-weight: 700px;
}

.home-text p {
  width: 650px;
  color: #000000;
  font-size: 23px;
  line-height: 37px;
  font-weight: 400;
  margin-bottom: 35px;
}

.home-text button {
  background-color: #CD5A83;
  height: 50px;
  width: 300px;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
}